{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-6">
            <div class="card shadow-sm border-0 p-4"><h3 class="text-center mb-4 brand-main fs-2">Password Reset Complete</h3>
                <p class="text-center text-muted mb-4">Your password has been successfully changed.</p>
                <a href="{% url 'users:login' %}" class="btn btn-dark w-100 mt-4">Return to Log In</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}