{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dibek Coffee{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" crossorigin rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@23.0.4/build/css/intlTelInput.min.css">
    
    <style>
        .iti { width: 100%; display: block; }
    </style>

    {% block extra_css %}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg">

        <div class="container d-flex align-items-center">
            <button class="navbar-toggler border-0 px-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="{% url 'home' %}"> 
                <span class="d-block brand-main">DIBEK</span>
                <span class="d-block brand-sub">Coffee & More</span>
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav gap-3 gap-lg-5 mt-4 mt-lg-0 align-items-center ms-auto pb-3 pb-lg-0"> <!-- push navbar items to the right auto -->

                    <li class="nav-item me-lg-3 d-flex align-items-center">
                        <form action="{% url 'search' %}" method="GET" class="m-0">
                            <div class="input-group input-group-sm rounded-pill border border-dark overflow-hidden">
                                <input type="text" name="q" class="form-control border-0 bg-transparent shadow-none px-3" placeholder="Search coffees..." required style="width: 160px; font-size: 0.9rem;">
                                <button class="btn border-0 text-dark pe-3 shadow-none" type="submit" title="Search">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>
                    </li>

                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <a class="nav-link fs-3 p-0 " href="{% url 'users:profile' %}" title="Logout">
                                <i class="bi bi-person"></i>
                            </a>
                        {% else %}
                            <a class="nav-link fs-3 p-0 " href="{% url 'users:login' %}" title="Login">
                                <i class="bi bi-person"></i>
                            </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-3 p-0 position-relative" href="{% url 'cart_summary' %}">
                            <i class="bi bi-cart"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark cart-badge">
                                {{ cart_count|default:"0"}}</span> 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="bg-main-footer shadow-sm mb-4">
        <div class="container">
            <nav class="nav justify-content-center py-2 small fw-bold text-uppercase" style="letter-spacing: 1px;">

                <a class="nav-link category-link {% if request.resolver_match.url_name == 'product_list' %}active-category{% endif %} px-4" 
                    href="{% url 'product_list' %}">All</a>

                {% for category in categories %}
                    <a class="nav-link category-link {% if current_category.slug == category.slug %}active-category{% endif %} px-4" href="{% url 'category_products' category.slug %}">{{ category.name }}</a>
                {% endfor %}
            </nav>
        </div>
    </div>

    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show shadow-sm d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center pe-5 gap-3"
                    role="alert">
                    <div>
                        <strong>Update: </strong>{{ message }}
                    </div>
                    <div class="d-flex align-items-center">
                        {% if message.tags == 'success' and 'cart' in message.message|lower %}
                            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-success text-nowrap me-2">View Cart</a>
                        {% endif %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <main class="flex-grow-1"> <!-- footer stick to bottom -->
        {% block content %} <!-- override content part -->
        {% endblock %}
    </main>

    <footer class="main-footer">
        <div class="container">
            <div class="footer-grid"> <!-- custom css grid -->
                <div class="text-center text-md-start">
                    <div class="footer-logo">DIBEK</div>
                    <div class="icons d-flex justify-content-center justify-content-md-start gap-3">
                        <a href="https://instagram.com" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="https://facebook.com" target="_blank">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="https://linkedin.com" target="_blank">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>

                <div>
                    <h4 class="footer-heading">Contact Us</h4>
                    <div class="d-inline-block text-start">
                        <div class="contact-item">
                            <i class="bi bi-geo-alt"></i>
                            <div>ABC Street, XYZ 123 <br> XXX City, 123-456</div>
                        </div>
                        <div class="contact-item">
                            <i class="bi bi-envelope"></i>
                            <a href="mailto:support@dibek.com">support@dibek.com</a>
                        </div>
                        <div class="contact-item">
                            <i class="bi bi-phone"></i>
                            <div>123-456-789</div>
                        </div>
                    </div>
                </div>

                <div>
                    <h4 class="footer-heading">Support</h4>
                    <ul>
                        <li>
                            <a href="/shipping-returns">Shipping & Returns</a>
                        </li>
                        <li>
                            <a href="/order-status">Order Status</a>
                        </li>
                        <li>
                            <a href="/faq">FAQs</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h4 class="footer-heading">Company</h4>
                    <ul>
                        <li>
                            <a href="/about">About Us</a>
                        </li>
                        <li>
                            <a href="/careers">Careers</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <div class="bottom-footer">
        <div class="container text-center">
            <div class="bottom-links">
                <a href="/privacy">Privacy Policy</a>
                <a href="/terms">Terms of Use</a>
            </div>
            <div class="opacity-80">&copy; 2026 Dibek Coffee. Designed and Built for Thesis Purposes</div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        setTimeout(function() {
            let alerts = document.querySelectorAll('.alert');
            alerts.forEach(function(alert) {
                let bsAlert = new bootstrap.Alert(alert);
                bsAlert.close()
            })
        }, 5000);
    </script>   

    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@23.0.4/build/js/intlTelInput.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            
            document.addEventListener('input', function (e) {
                if (e.target.classList.contains('postal-mask')) {
                    let rawValue = e.target.value.replace(/[^0-9]/g, '');
                    if (rawValue.length > 2) {
                        e.target.value = rawValue.substring(0, 2) + '-' + rawValue.substring(2, 5);
                    } else {
                        e.target.value = rawValue;
                    }
                }
            });

            const phoneInputs = document.querySelectorAll('.phone-mask');
            phoneInputs.forEach(input => {
                const iti = window.intlTelInput(input, {
                    initialCountry: "pl",
                    showSelectedDialCode: true, 
                    autoPlaceholder: "polite",
                    formatAsYouType: true,      
                    nationalMode: true,        
                    strictMode: true,           
                    utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@23.0.4/build/js/utils.js",
                });

                const form = input.closest('form');
                if (form) {
                    form.addEventListener('submit', function() {
                        if (input.value.trim() !== "" && iti.isValidNumber()) {
                            input.value = iti.getNumber();
                        }
                    });
                }
            });
        });
    </script>

</body>
</html>